* {
    margin: 0;
    padding: 0;
    list-style: none;
}

:root {
    --MainColor: #304068;
    --MainBlack: #1f1f1f;
    --MidBlue: #b0b4c5;
    --LightBlue: #e7e9f5;
    --Grey: #797a7a;
    --LightGrey: #efefef;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
